@import "src/assets/styles/mixins";

.profile__graph__chart__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include middleTablet() {
    flex-direction: row;
    margin: 10px 0;
  }

  @include mobile() {
    flex-direction: column;
    width: 98%;
  }
}
