@import "src/assets/styles/mixins";

.banner{
  background-image: url("../../../../../assets/textures/xv.png");
  background-repeat: repeat;
  background-size: 294px 235px;
  border-bottom: 1px solid var(--primary-medium-green);
}
[data-theme="dark"] .banner{
  background-color: black;
  background-image: url("../../../../../assets/textures/shattered.png");
  background-repeat: repeat;
  background-size: 500px;
  border-bottom: 1px solid #8eb136;
}

.banner {
  position: relative;
  //height: 320px;
  height: auto;
  padding: 50px 0 18px;
  background-position: center center;
  overflow: hidden;
  background-size: contain;
  .tab-menu-mobile {
    display: none;
    padding: 16px;
  }
  @include middleTablet() {
    padding: 50px 0 16px;
    overflow: visible;

    .tab-menu-mobile {
      display: block;
      width: 100%;

      .base-select {
        &__select {
          border: #efeff4;
          background-color: #ffffff;

          @include tablet {
            max-width: 235px;
            width: 235px;
          }

          &-icon svg {
            fill: #667085;
          }

          &-input {
            color: #222222;

            &::placeholder {
              color: #222222;
            }
          }
        }

        .dropdown {
          width: 235px;

          &__list {
            background-color: white;
          }
        }
      }
    }
  }
  @include tabletMini() {
    height: 39.75vw;
    background-size: 188%;
    background-position: 64% 100%;
  }
  @include mobile() {
    height: auto;
    padding: 24px 0 4px;
    background-size: 300%;
    background-position: 34% 100%;
    background-repeat: no-repeat;
  }
  h1 {
    max-width: 600px;
    color: var(--text-primary);
    margin-bottom: 16px;
    @include tablet() {
      max-width: 365px;
    }
    @include mobile() {
      max-width: 100%;
      margin-bottom: 7px;
      padding: 0 16px;
    }
  }
  h5 {
    max-width: 54rem;
    font-weight: 400;
    color: var(--alerts-green);
    margin-bottom: 5.5rem;
    @include tablet() {
      max-width: 365px;
    }
    @include mobile() {
      margin-bottom: 32px;
      padding: 0 16px;
    }
  }
  &__content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: unset;
  }
  &__pic {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 84px;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    @include desktop() {
      right: 40px;
    }
    @include middleTablet() {
      display: none;
    }
    &_line {
      display: flex;
      flex-direction: column;
      width: 200%;
      margin-right: 32px;
      &:last-of-type {
        margin-right: 0;
      }
      & > span {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      img {
        width: 174px;
        height: auto;
        border-radius: 40px;
        margin: 32px 0 0;
      }
      &--row {
        & > span {
          animation: scrollRow 7s linear infinite;
        }
      }
      &--reverse {
        & > span {
          animation: scrollReverse 7s linear infinite;
        }
      }
    }
  }
}

.myVideo {
  position: absolute;
  right: 0;
  bottom: 0px;
  object-fit: cover;
  height: 388px;
  width: 100%;
}

@keyframes scrollRow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scrollReverse {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
