@import "src/assets/styles/mixins";
.cart {
  padding: 1.7rem 0;
  &__content {
    position: relative;
    &_count {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--primary-green);
      border: 1px solid var(--main-element-bg);
      color: var(--main-element-bg);
      font-size: 9px;
      font-weight: 500;
      &--more {
        font-size: 8px;
      }
    }
  }
  svg {
    display: inline-block;
    fill: var(--icons-inactive);
    margin-left: 18px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include middleTablet {
      margin-left: 0;
    }
  }

  &:hover,
  &--active {
    svg {
      fill: var(--primary-green);
    }
  }
}
