.proggress-circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  &--green {
    fill: var(--base-background--01);
    stroke: var(--primary-green);
  }
}
